<div class="jumbotron">
  <h1 class="display-4"><%= @lead.project_name %></h1>
  <p class="lead">
      <p>
      <strong>Client Name:</strong>
      <%= @lead.client_name %>
      </p>
      <p>
      <strong>Client Address:</strong>
      <%= @lead.client_address %>
      </p>
      <p>
      <strong>Client Email:</strong>
      <%= @lead.client_email %>
      </p>
      <p>
      <strong>Client Contact:</strong>
      <%= @lead.client_contact %>
      </p>
      <p>
      <strong>Platform Used:</strong>
      <%= @lead.platform %>
      </p>
      <p>
      <strong>Test Type:</strong>
      <%= @lead.test_type %>
      </p>
  </p>
  <br/>
  <%= link_to "Edit Lead", edit_lead_path(@lead), class:"btn btn-dark" %>
  <%= link_to "Destroy Lead", lead_path(@lead),method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-dark" %>
</div>

<br/>
<div class="container">
  <h2>Phases</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Assignee</th>
        <th scope="col">Start Date</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
        <th colspan="2"></th>

      </tr>
    </thead>
    <tbody>
      <% @lead.phases.each do |phase| %>
      <tr>
        <th scope="row"><%= phase.id %></th>
        <td><%= phase.assignee %></td>
        <td><%= phase.start_date %></td>
        <td><%= phase.due_date %></td>
        <td><%= phase.status %></td>
        <td><%= phase.test_type %></td>
        <td><%= link_to "Edit Phase", [:edit, phase.lead, phase] %></td>
        <td><%= link_to 'Destroy Phase', [phase.lead, phase],method: :delete,data: { confirm: "Are you sure?" } %></td>    
      </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <%= link_to "Add Phase", new_lead_phase_path(@lead), class:"btn btn-dark" %>
</div>


  
