<%= form_with model: [ @lead, phase ] do |form| %>
  <div class="form-group">
    <%= form.label :assignee %><br>
    <%= form.text_field :assignee, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %><br>
    <%= form.datetime_select :start_date, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :due_date %><br>
    <%= form.datetime_select :due_date, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :test_type %><br>
    <%= form.select :test_type, ["test_project", "interview"], class:"form-control" %>
  </div>
  
  <div>
    <%= form.hidden_field :status, value: "created" %>
  </div>

  <div>
    <%= form.hidden_field :invitation_status,  value: "pending" %>
  </div>

  <div>
    <%= form.hidden_field :lead_id,  value: @lead.id%>
  </div>
  
  <div>
    <%= form.submit class:"btn btn-dark"%>
  </div>
<% end %>